@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background: #e3e9ff;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 10rem;
}
.task {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
.input {
  border: none;
  padding: 0.5rem;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
input:focus {
  outline: 1px solid #726ce7;
}
input:focus::placeholder {
  color: transparent;
}
.action {
  /* position: relative;
  bottom: 3rem; */
  display: flex;
  gap: 10px;
  width: 100%;
}
.action button {
  width: 25%;
  border: none;
  background: #726ce7;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1px;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.action button:hover {
  background: #665feb;
}
.heading {
  color: white;
  background: #726ce7;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding: 0.8rem 0;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 4px;
}
.content {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  border-radius: 4px;
  list-style-type: none;
  font-weight: 600;
  font-size: 1.1rem;
}
.content li {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.content li.show {
  opacity: 1;
  transform: translateY(0);
}
.content li.hide {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.content label {
  margin: 0 15px;
}
.delete {
  padding: 5px 5px;
  border: none;
  background: red;
  color: white;
}
.not-found {
  text-align: center;
  margin-left: 7rem;
}

@media (max-width: 640px) {
  body {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    padding-top: 3rem;
    gap: 4rem;
  }
  .task {
    width: 100%;
  }
  .action {
    gap: 4px;
  }
  .not-found {
    text-align: center;
    margin-left: 3.4rem;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  body {
    padding: 3rem;
  }
  .task {
    width: 50%;
  }
}
